<div class="navbar shadow mb-5">
    <h3 class="">Meu nome é severino</h3>
    <a type="button" class="btn" href="">entrar</a>
    <a type="button" class="btn" href="">doar</a>
    <a type="button" class="btn" href="/cad_book">cadastrar livro</a>
    <a type="button" class="btn" href="/cad_aln">cadastrar aluno/adm</a>
    <a type="button" class="btn" href="/AdmPanel">painel adm</a>
 </div>
