<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
    <link rel='stylesheet' type="text/css" href='/stylesheets/cadaln.css' />
    <link rel='stylesheet' type="text/css" href='/stylesheets/navbar.css' />
    <link rel='stylesheet' type="text/css" href='/stylesheets/index.css' />
    <link rel="stylesheet" type="text/css" href='bootstrap.min.css'>
    <title>Document</title>
</head>
<body>
    <div class="card">
        <h3>login</h3>
        <div class="card-body">
            <form method="post" action="/loginuser">
                <label for="email">email</label><br/>
                <input type="email" name="email" id=""><br/>
                <label for="email">senha</label><br/>
                <input type="password" name="password" id=""><br/>
                <input type="submit" value="login">
           </form>
        </div>
    </div>
</body>
</html>