<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
    <link rel='stylesheet' type="text/css" href='/stylesheets/cadaln.css' />
    <link rel='stylesheet' type="text/css" href='/stylesheets/navbar.css' />
    <link rel='stylesheet' type="text/css" href='/stylesheets/index.css' />
    <link rel="stylesheet" type="text/css" href='bootstrap.min.css'>
</head>
<body>
    <%- include('components/navbar-guest')%>
    <div class="d-flex justify-content-center">
            <div class="register card p-5">
                <h5 class="card-title">cadastrar</h5>
                <form class="d-flex flex-column justify-content-center" action="/new" method="POST">
                    <label for="name" class="form-label"> nome </label><br/>
                    <input type="text" placeholder="nome" class="form-control" name="name">

                    <label for="matricula" class="form-label"> email </label><br/>
                    <input type="email" placeholder="email@gmail.com" class="form-control" name="email">

                    <label for="matricula" class="form-label"> matrícula </label><br/>
                    <input type="text" class="form-control" name="mat">

                    <label for="matricula" class="form-label"> senha </label><br/>
                    <input type="password" class="form-control" name="password">

                    <label for="matricula" class="form-label"> confirmar senha </label><br/>
                    <input type="password" class="form-control" name="confirm-password">  
                          
                    <input type="submit" class="btn btn-light mt-3" value="cadastrar">            
            </form>
        </div>
    </div>
    <%- include('components/bottombar') %>
</body>
</html>