<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>titulo</th>
            <th>autor</th>
            <th>editora/th>
            <th>ISBN</th>
            <th>edição</th>
            <th>ano de publicação/th>
        </tr>
        <%for(book on books){%>
            <tr>book</tr>
        <%}%>
    </table>
</body>
</html>