body {
  margin: 0;
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a{
  color: #00B7FF;
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}

.on, .off{
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;  
  background-color: #f7f7f7;
}

.on{
  background-color: #009ed1;
  color: white;
}

#aluno{
  border-radius: 30px 0px 0px 30px;
}
#escola{
  border-radius: 0px 30px 30px 0px;
}