body {
  margin: 0;
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a{
  color: #00B7FF;
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
.on{
  color:green;
}

.off{
  color: red;
}